<%- include ("layouts/header") %>
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management</title>
</head>
<body>
    <h1>Usuarios registrados: </h1>

    <div class="box">
        <% for(var i=0;i<usersDB.length;i++) { %>
            <form class="deleteUserForm" action="/management/deleteUser" method="post">
                <div class="usersList">
                    <input type="checkbox" name="deleteUserCheckbox" value="<%=usersDB[i].id %>" onChange="this.form.submit()">
                    <p> <%=usersDB[i].id %> | <%=usersDB[i].name %> | <%=usersDB[i].matricula %> | <%=usersDB[i].role %> </p>
                </div>
            </form>
        <% } %>
    </div>

    <form class="newUserForm" action="/management/addUser" method="post">
        <input type="text" name="newUserMatr" placeholder="Matrícula" autocomplete="off">
        <input type="text" name="newUserName" placeholder="Nombre Completo" autocomplete="off">
        <input type="text" name="newUserRole" placeholder="Rol" autocomplete="off">
        <button type="submit" name="list">+</button>
    </form>

</body>
</html>